<div class="center">
    <section id="content" *ngIf="article">
        <h1 class="subheader">{{page_title}}</h1>

        <form class="mid-form" #newArticleForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required />
                <small *ngIf="!title.valid && title.touched">
                    El título no es válido
                </small>
            </div>
            {{article.user}}
            {{article.password}}
            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea type="text" name="content" #content="ngModel" [(ngModel)]="article.content" ></textarea>
                <small *ngIf="!content.valid && content.touched">
                    El contenido no es válido
                </small>
            </div>
            
            <div class="image-thumb" *ngIf="is_edit">
                <img src="{{url + 'get-image/' + article.image}}" alt="{{article.title}}" *ngIf="article.image" />
                <img src="../../assets/images/default.jpg" alt="{{article.title}}" *ngIf="!article.image" />
            </div>
            <angular-file-uploader [config]="afuConfig" (ApiResponse)="imageUpload($event)">
            </angular-file-uploader>


            <div class="clearfix"></div>

            <input type="submit" value="Guardar" class="btn btn-success" [disabled]="newArticleForm.invalid" />
        </form>
    </section>
    <!--SIDEBAR-->
    <app-sidebar></app-sidebar>
</div>